.button {
    font-size: 1rem;
    font-family: var(--type-first);
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    background: #c22a1e;
    color: #000000;
    min-width: 8rem;
    padding: .8rem 1.2rem;
    box-sizing: border-box;
    transition: .3s;
}

.button:hover,
.button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #181818, 0 0 0 4px #c22a1e;
}

.button:disabled {
    opacity: 0.5;
    cursor: wait;
}